@import "tailwindcss";


body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

@theme {
  --color-maincolor: #0aad0a;
}

@utility container {
  margin: auto;

  @media (width >=80rem) {
    max-width: 75rem;
  }
}

.active {
  font-weight: 900;
}

@layer components {
  .input {
    @apply bg-white rounded-md grow py-1 focus:outline-none px-2;

  }

  .btn {
    @apply bg-maincolor px-4 py-1 rounded-md text-white;

  }

}

.cardshadow:hover {
  box-shadow: 0 0 20px -1px #0aad0a;

}